In [1]:
# WE ARE TASKED TO BUILD A MODEL THAT WILL PREDICT PEOPLES INCOME

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv('adult[1].csv')
data.head(2)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K

In [4]:
# UNDERSTANDING MY DATASET SEEING ITS RELEVANCE

In [5]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [6]:
data.workclass.unique()

array(['?', 'Private', 'State-gov', 'Federal-gov', 'Self-emp-not-inc',
       'Self-emp-inc', 'Local-gov', 'Without-pay', 'Never-worked'],
      dtype=object)

In [7]:
data.education.unique()

array(['HS-grad', 'Some-college', '7th-8th', '10th', 'Doctorate',
       'Prof-school', 'Bachelors', 'Masters', '11th', 'Assoc-acdm',
       'Assoc-voc', '1st-4th', '5th-6th', '12th', '9th', 'Preschool'],
      dtype=object)

In [8]:
data['native.country'].unique()

array(['United-States', '?', 'Mexico', 'Greece', 'Vietnam', 'China',
       'Taiwan', 'India', 'Philippines', 'Trinadad&Tobago', 'Canada',
       'South', 'Holand-Netherlands', 'Puerto-Rico', 'Poland', 'Iran',
       'England', 'Germany', 'Italy', 'Japan', 'Hong', 'Honduras', 'Cuba',
       'Ireland', 'Cambodia', 'Peru', 'Nicaragua', 'Dominican-Republic',
       'Haiti', 'El-Salvador', 'Hungary', 'Columbia', 'Guatemala',
       'Jamaica', 'Ecuador', 'France', 'Yugoslavia', 'Scotland',
       'Portugal', 'Laos', 'Thailand', 'Outlying-US(Guam-USVI-etc)'],
      dtype=object)

In [9]:
# CLEANING MY DATSET

In [10]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [11]:
import warnings
warnings.simplefilter(action="ignore")

In [12]:
def get_wrong_format(data):
   rows_with_wrong_format = data[data.applymap(lambda x: x == "?").any(axis=1)]
   data1 = data.drop(rows_with_wrong_format.index)
   return data1

In [13]:
data2=get_wrong_format(data)

In [14]:
data2.head(3)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [15]:
data2.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [ ]:
data

In [58]:
occupations = []
def occupation():
    for job in data2.occupation:
        # Split the job and get the second part after the "-"
        split_job = job.split("-")[1] if "-" in job else job
        occupations.append(split_job)
    return occupations

occupations = occupation()

In [60]:
data2.workclass.unique()

array(['Private', 'State-gov', 'Federal-gov', 'Self-emp-not-inc',
       'Self-emp-inc', 'Local-gov', 'Without-pay'], dtype=object)

In [ ]:
# workclas=[]
# def workclass():
#     for job in data2.workclass:
#         split_workclass=job.split("-")
#         workclas.extend(split_workclass)   
#     return workclas
# workclas=workclass()

In [74]:
data2['native.country'].unique()

array(['United-States', 'Mexico', 'Greece', 'Vietnam', 'China', 'Taiwan',
       'India', 'Philippines', 'Trinadad&Tobago', 'Canada', 'South',
       'Holand-Netherlands', 'Puerto-Rico', 'Poland', 'Iran', 'England',
       'Germany', 'Italy', 'Japan', 'Hong', 'Honduras', 'Cuba', 'Ireland',
       'Cambodia', 'Peru', 'Nicaragua', 'Dominican-Republic', 'Haiti',
       'Hungary', 'Columbia', 'Guatemala', 'El-Salvador', 'Jamaica',
       'Ecuador', 'France', 'Yugoslavia', 'Portugal', 'Laos', 'Thailand',
       'Outlying-US(Guam-USVI-etc)', 'Scotland'], dtype=object)

In [70]:
countries = []
def get_country():
    for country in data2['native.country']:
        if country == "United-State": 
            country_name = "United States"
        else:
            country_name = country.split("-")[1] if "-" in country else country
        countries.append(country_name)
    return countries
countries = get_country()

In [72]:
countries

['States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Mexico',
 'Greece',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Vietnam',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'China',
 'States',
 'States',
 'Greece',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Taiwan',
 'States',
 'States',
 'States',
 'States',
 'States',
 'India',
 'States',
 'States',
 'States',
 'States',
 'Philippines',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Trinadad&Tobago',
 'Canada',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'South',
 'Philippines',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Canada',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Netherlands',
 'States',
 'India',
 'States',
 'Rico',
 'Mexico',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Mexico',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Philippines',
 'China',
 'States',
 'Canada',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Poland',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Iran',
 'States',
 'States',
 'England',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Philippines',
 'States',
 'States',
 'States',
 'States',
 'States',
 'England',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'China',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'China',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Germany',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'South',
 'States',
 'States',
 'Italy',
 'Philippines',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Japan',
 'Taiwan',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Germany',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Hong',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Honduras',
 'States',
 'States',
 'States',
 'England',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Philippines',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Rico',
 'States',
 'Philippines',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Canada',
 'Germany',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Greece',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'South',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'South',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'China',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Taiwan',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'India',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Cuba',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Canada',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Philippines',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Ireland',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Trinadad&Tobago',
 'States',
 'States',
 'States',
 'Germany',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Cuba',
 'Philippines',
 'States',
 'Mexico',
 'Iran',
 'States',
 'States',
 'States',
 'States',
 'India',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Canada',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Cambodia',
 'States',
 'States',
 'Canada',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Peru',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Nicaragua',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Germany',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Republic',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Vietnam',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'Haiti',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 'States',
 ...]

In [78]:
useful_columns=data2[['age','education','workclass','native.country','occupation','hours.per.week','income']]

In [80]:
#  PERFORM TRANSFORMATION 
transformed_columns=useful_columns[['education','workclass','native.country','occupation']]

In [82]:
transformed=pd.get_dummies(transformed_columns).astype(int)
transformed.head(3)

,education_10th,education_11th,education_12th,education_1st-4th,education_5th-6th,education_7th-8th,education_9th,education_Assoc-acdm,education_Assoc-voc,education_Bachelors,...,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [84]:
data3=pd.concat([useful_columns,transformed],axis="columns")

In [86]:
droped_columns=data3[['education_10th','education','workclass','native.country','occupation']]
data4=data3.drop(columns=droped_columns)

In [88]:
data4.columns

Index(['age', 'hours.per.week', 'income', 'education_11th', 'education_12th',
       'education_1st-4th', 'education_5th-6th', 'education_7th-8th',
       'education_9th', 'education_Assoc-acdm', 'education_Assoc-voc',
       'education_Bachelors', 'education_Doctorate', 'education_HS-grad',
       'education_Masters', 'education_Preschool', 'education_Prof-school',
       'education_Some-college', 'workclass_Federal-gov',
       'workclass_Local-gov', 'workclass_Private', 'workclass_Self-emp-inc',
       'workclass_Self-emp-not-inc', 'workclass_State-gov',
       'workclass_Without-pay', 'native.country_Cambodia',
       'native.country_Canada', 'native.country_China',
       'native.country_Columbia', 'native.country_Cuba',
       'native.country_Dominican-Republic', 'native.country_Ecuador',
       'native.country_El-Salvador', 'native.country_England',
       'native.country_France', 'native.country_Germany',
       'native.country_Greece', 'native.country_Guatemala',
       'native.country_Haiti', 'native.country_Holand-Netherlands',
       'native.country_Honduras', 'native.country_Hong',
       'native.country_Hungary', 'native.country_India', 'native.country_Iran',
       'native.country_Ireland', 'native.country_Italy',
       'native.country_Jamaica', 'native.country_Japan', 'native.country_Laos',
       'native.country_Mexico', 'native.country_Nicaragua',
       'native.country_Outlying-US(Guam-USVI-etc)', 'native.country_Peru',
       'native.country_Philippines', 'native.country_Poland',
       'native.country_Portugal', 'native.country_Puerto-Rico',
       'native.country_Scotland', 'native.country_South',
       'native.country_Taiwan', 'native.country_Thailand',
       'native.country_Trinadad&Tobago', 'native.country_United-States',
       'native.country_Vietnam', 'native.country_Yugoslavia',
       'occupation_Adm-clerical', 'occupation_Armed-Forces',
       'occupation_Craft-repair', 'occupation_Exec-managerial',
       'occupation_Farming-fishing', 'occupation_Handlers-cleaners',
       'occupation_Machine-op-inspct', 'occupation_Other-service',
       'occupation_Priv-house-serv', 'occupation_Prof-specialty',
       'occupation_Protective-serv', 'occupation_Sales',
       'occupation_Tech-support', 'occupation_Transport-moving'],
      dtype='object')

In [90]:
data4.head(2)

,age,hours.per.week,income,education_11th,education_12th,education_1st-4th,education_5th-6th,education_7th-8th,education_9th,education_Assoc-acdm,...,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving
1,82,18,<=50K,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,54,40,<=50K,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
# spliting the data and buid the model

In [92]:
x=data4.drop(columns="income")
y=data4.income

In [ ]:
# SPLITING THE DATA TO TEST 20% AND TRAIN 80%

In [94]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(x,y,test_size=0.2)

In [96]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB,GaussianNB

In [98]:
from sklearn.model_selection import GridSearchCV

In [ ]:
# passing the models and parameters

In [100]:
models_parameters={
    "rain_forest":{
        'model':RandomForestClassifier(),
        'params':{}
    },
    "logistic":{
        'model':LogisticRegression(),
        'params':{
             'C': [10]
        }
    },
    "descion":{
        'model':DecisionTreeClassifier(),
        'params':{}
    }

    # "svm":{
    #     'model':SVC(),
    #     'params':{}
    # },

    # "mb":{
    #     'model':MultinomialNB(),
    #     'params':{}
    # },
    # "gb":{
    #     'model':GaussianNB(),
    #     'params':{}
    # }

}

In [102]:
results=[]
for model,params in models_parameters.items():
    gs=GridSearchCV(params["model"],params["params"],return_train_score=False)
    gs.fit(X_train,y_train)
    results.append({
        'model':model,
        'best_score':gs.best_score_,
        'best_params':gs.best_params_
    })
df=pd.DataFrame(results,columns=['model','best_score','best_params'])

In [ ]:
df

In [ ]:
model=LogisticRegression(C=15)
model.fit(X_train,y_train)

In [ ]:
model.score(X_test,y_test)

In [ ]:
import pickle

In [ ]:
with open('ADULTS INCOME MODEL.pkl',"wb") as file:
   pickle.dump(model,file)

In [ ]:
# dump my coumns in a fille columns

In [76]:
import json
ADULTS_INCOME_COL = {
    'ADULTS_INCOME_COLUMNS' : [col.lower() for col in data4.columns]
}
with open("ADULTS_INCOME_COL.json","w") as f:
    f.write(json.dumps(ADULTS_INCOME_COL))

NameError: name 'data4' is not defined

In [ ]:
working_class=data4.columns

In [ ]:
# THE RANGE OF WORKING CLASS IS 18-24

In [ ]:
working_class[18:25]

In [ ]:
# THE RANGE OF COUNTRIES IS 25 - 66

In [ ]:
working_class[25:66]

In [ ]:
# THE RANGE OF OCCUPATION TYPES IS FROM 67

In [ ]:
working_class[67:]